body {

font-family: Arial, sans-serif;
background: linear-gradient(to right, #4facfe, #00f2fe);
margin: 0;
padding: 0;

}


.container {

width: 400px;
margin: 50px auto;
background: white;
padding: 30px;
border-radius: 10px;
box-shadow: 0px 5px 15px rgba(0,0,0,0.2);

}


h2 {

text-align: center;
margin-bottom: 20px;

}


label {

font-weight: bold;

}


input,
select,
textarea {

width: 100%;
padding: 10px;
margin-top: 5px;
margin-bottom: 15px;
border-radius: 5px;
border: 1px solid #ccc;

}


input:focus,
select:focus,
textarea:focus {

border-color: #4facfe;
outline: none;

}


.gender-box {

margin-bottom: 15px;

}


.gender-box input {

width: auto;
margin-right: 5px;

}


button {

width: 100%;
background: #4facfe;
color: white;
padding: 12px;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;

}


button:hover {

background: #007bff;

}