p{
    color: darkorange;
}
p{
            color: black;
        }
        .text{
            color: brown;
        }
        #Zeesho{
            color: chartreuse;
        }
        #Zeesho{
            color: chocolate;
        }
        #status{
            color: gold;
        }
        .font{
            color: purple;
        }
